/* Chrome, safari */
body {
  display: flex;
  justify-content: center;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: $radius;
}

/* Firefox */
.selector {
  scrollbar-width: thin;
}

.container {
  width: 100% !important;
  padding: 0 1rem;
  margin: 0 1rem;

  // for $ screens
  @media only screen and (min-width: $sm) {
    width: 1024px !important;
    overflow: hidden;
    padding: 0 1rem;
  }

  // for md screens
  @media only screen and (min-width: $md) {
    width: 1024px !important;
    overflow: hidden;
    padding: 0 1rem;
  }

  // for L screens
  @media only screen and (min-width: $l) {
    width: 1024px !important;
    overflow: hidden;
    padding: 0 1rem;
  }

  // for XL screens
  @media only screen and (min-width: $xl) {
    width: 1140px !important;
    overflow: hidden;
    padding: 0 1rem;
  }

  // for XXL screens
  @media only screen and (min-width: $xxl) {
    width: 1320px !important;
    overflow: hidden;
    padding: 0 1rem;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
  display: none;
  justify-content: center;
  align-items: center;
  &.show {
    display: flex;
  }
}

.btn {
  border-radius: $radius;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  transition: transform ease 0.3s, box-shadow ease 0.3s;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: translateY(0);
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  }
}

.message-box {
  width: 90%;
  max-height: 80vh;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 2em 0;
  border-radius: $radius;
  .head {
    padding: 1em 1em;
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
  .body {
    padding: 1em 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $main-color;
  }
  .footer {
    background-color: $main-color;
    padding: 1em 1em;
    text-align: right;
    > button {
      padding: 0.5em 1em;
      background-color: $link-color;
      margin-left: 1em;
      &#no {
        background-color: $white-color;
      }
    }
  }
  @media only screen and (min-width: $sm) {
    width: 25em;
  }
}
